<div class="container mt-3">
    <h2>Category</h2>
  
    <button class="btn btn-primary" (click)="openAddCategoryModal()">Add Category</button>
  
    <ng-template #addCategoryModal let-modal>
      <div class="modal-body">
        <label for="categoryName">Category Name:</label>
        <input type="text" id="categoryName" [(ngModel)]="newCategoryName" class="form-control" />
        <div *ngIf="newCategoryValidationMessage">{{ newCategoryValidationMessage }}</div>

    </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveCategory()">Save Category</button>
      </div>
    </ng-template>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category._id}}</td>
          <!-- <td>{{ getDisplayedId(category) }}</td> -->

          <td>{{ category.name }}</td>
          <td>
            <button class="btn btn-info" (click)="openUpdateCategoryModal(updateCategoryModal, category._id)">Update</button>
            <button class="btn btn-danger" (click)="deleteCategory(category._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    
  <ng-template #updateCategoryModal let-modal>
    <div class="modal-body">
      <label for="updatedCategoryName">Updated Category Name:</label>
      <input type="text" id="updatedCategoryName" [(ngModel)]="selectedCategory.name" class="form-control" />
      <div *ngIf="updateCategoryValidationMessage" class="text-danger">{{ updateCategoryValidationMessage }}</div>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-primary" (click)="updateCategory()">Update Category</button>
    </div>
  </ng-template>
