.welcome-section {
  text-align: center;
  padding: 50px 20px;
  background-color: antiquewhite;
  background: linear-gradient(to right, rgba(77, 192, 181, 0.9), rgba(52, 144, 220, 0.7));
  border-radius: 10px;
}

.welcome-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.carousel-inner img {
  height: 400px;
}

span {
  display: inline-block;
  min-width: 250px;

  &:hover {
      background-color: #ebe9dd;
  }
}
  .cardBook{
    height: 400px;
  }
  .cardBook img{
    height: 300px;
  }
