.welcome-section {
  text-align: center;
  padding: 50px 20px;
  background-color: antiquewhite;
  background-image: url(https://i.pinimg.com/564x/59/95/7e/59957e6119fe545311fe5a01899fbde5.jpg);
  border-radius: 10px;
}

.welcome-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
}

.carousel-inner img {
  height: 400px;
}

span {
  display: inline-block;
  min-width: 250px;

  &:hover {
      background-color: #ebe9dd;
  }
<<<<<<< HEAD
  
  .welcome-message {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
  }
  .carousel-inner img{
    height: 400px;
  }
  .cardBook img{
    height: 300px;
  }
=======
}
>>>>>>> ef3045d3893a3bb42b1ecec235f30801a65c2ae6
