<!-- admin-login.component.html -->

<div class="login-container">
    <div class="login-card">
        <h2 class="login-title">Admin Login Panel</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" formControlName="username" autocomplete="off">
                <div *ngIf="hasError('username')" class="error-message">
                    Invalid username or password.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" formControlName="password" autocomplete="off">
                <div *ngIf="hasError('password')" class="error-message">
                    Invalid username or password.
                </div>
            </div>

            <div class="login-button-container">
                <button type="submit" [disabled]="loginForm.invalid" class="login-button">Login</button>
            </div>

           
            
        </form>
    </div>

    <div class="error-message-container" *ngIf="(hasError('username') || hasError('password')) && formSubmitted">
        Invalid username or password.
    </div>

    <div *ngIf="loginError" class="error-message">
        {{ loginError }}
    </div>
</div>
