<nav class="navbar my-0 navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <a class="navbar-brand fw-bolder " style="color: brown;"  routerLink="" routerLinkActive="active-route text-success " [routerLinkActiveOptions]="{exact: true}"><img src="../../../../assets/images/goodreads_logo_324-a908b923dc3ed9b7a13f3da4d1ffb2df.png" style="width: 100px;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <form class="d-flex ">
          
          <a class="nav-link m-2 "  routerLink="/home" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Home</a>
          
          <a class="nav-link m-2 "  routerLink="/categories" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Categories</a>
          <a class="nav-link m-2 "  routerLink="/books" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Books</a>
          <a class="nav-link m-2 "  routerLink="/authors" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Authors</a>
         
      </form>
      
      </ul>
      <input type="text" class="form-control w-50 form-control-sm" placeholder="Search...">
      <!--<div>
        <input type="text" (ngModel)="searchQuery" (input)="SearchBooks()">
      </div>-->
      
      <div *ngIf="searchResults.length > 0">
        <div *ngFor="let book of searchResults">
          <h2>{{ book.title }}</h2>
          <p>Author: {{ book.author }}</p>
          <!-- Add other book details here -->
        </div>
      </div>
      <a class="nav-link m-2 mb-2 "  routerLink="/login" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Login</a>
      <a class="nav-link m-2 mb-2"  routerLink="/register" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}">Register</a>
      
     
      <i class="fa-solid fa-circle-user fa-lg fs-3 mt-2 cursor-pointer" style="color: brown;" routerLink="" routerLinkActive="active-route text-success"style="color: brown;" [routerLinkActiveOptions]="{exact: true}" ></i>
      <span style="color: brown;" class="fs-6 mt-2 ms-1">{{username}}</span>
          <i (click)="signOut()"  class="fa-solid fa-right-from-bracket fa-lg  mt-2 ms-2  " style="color: brown;cursor: pointer;" routerLink="" routerLinkActive="active-route text-success" [routerLinkActiveOptions]="{exact: true}" ></i>
          
    </div>
  </div>
</nav>
