nav{
    /* background: linear-gradient(135deg, #a199fc, #b987f7, #f37de1); */
    /* background-color: var(--nav-color) !important; */
    background-image: url(../../../../assets/images/tan-bg-texture.jpg);
    /* color: black !important; */
    font-weight: 500;
    /* color: white !important; */
    box-shadow: 0 2px 4px rgba(74, 99, 95, 0.1);
}

.fa-circle-user {
    cursor: pointer;
}