.pagination {
  margin-top: 20px;
  cursor: pointer;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.hidden {
  display: none !important;
}