<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="isFirstPage()">
        <a class="page-link" (click)="onPageClick(currentPage - 1)" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of getPages()" [class.active]="page === currentPage">
        <a class="page-link" (click)="onPageClick(page)">{{ page }}</a>
      </li>
      <li class="page-item" [class.disabled]="isLastPage()">
        <a class="page-link" (click)="onPageClick(currentPage + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
