<app-nav-bar></app-nav-bar>

<div class="container mt-5" *ngIf="author">
  <div class="row">
    <!-- Author Image Column -->
    <div class="col-md-2">
      <img class="img-fluid rounded" [src]="author.photo" alt="Author Photo">
    </div>
    <!-- Author Details Column -->
    <div class="col-md-10">
      <h2>Author Details</h2>
      <div class="row">
        <div class="col-sm-6">
          <p><strong>Author ID:</strong> {{ author.id }}</p>
          <p><strong>Name:</strong> {{ author.firstName }} {{ author.lastName }}</p>
          <p><strong>Date of Birth:</strong> {{ author.dob }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Author's Books</h2>
    <div class="row book">
        <!-- implement displaying author's books hear -->
    </div>
  </div>
</div>
