<app-nav-bar></app-nav-bar>
<div style="
background-image: url(https://i.pinimg.com/564x/37/9d/b9/379db9aa1c987642bc89a8ce898e2fae.jpg);">
    <br><br><br><br>
</div>



<select ngModel="selectedStatus" (change)="selectBooks(userid, selectedStatus)" class="form-select">
  <option value="all" selected>All Books</option>
  <option value="Read">Read</option>
  <option value="Want to Read">Want to Read</option>
  <option value="currently Read">Currently Read</option>
</select>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-3" *ngFor="let book of displayedBooks">
      <div class="card mb-3">
        <img [src]="book.img" class="card-img-top" alt="Book Cover">
        <div class="card-body">
          <h5 class="card-title" style="cursor: pointer;" (click)="redirectToBook(book.id)">{{ book.name }}</h5>
          <p class="card-text" style="cursor: pointer;" (click)="redirectToAuthor(book.authorId)">Author: {{ book.author }}</p>
          <!-- Add other book information as needed -->
        </div>
      </div>
    </div>
    <div *ngIf="books.length === 0" class="col-md-12">
      <p class="text-center">No books available.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <!-- Pagination Component -->
      <app-pagination class="mt-5"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="books.length"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
</div>



