<app-nav-bar></app-nav-bar>
<div style="
background-image: url(https://i.pinimg.com/564x/37/9d/b9/379db9aa1c987642bc89a8ce898e2fae.jpg);">
    <br><br><br><br>
</div>



<select [(ngModel)]="selectedStatus" (change)="selectBooks(userid, selectedStatus)" class="form-select">
  <option value="all" selected>All Books</option>
  <option value="Read">Read</option>
  <option value="Want to Read">Want to Read</option>
  <option value="currently Read">Currently Read</option>
</select>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-3" *ngFor="let book of displayedBooks">
      <div class="card mb-3 cardBook">
        <img [src]="book.img" class="card-img-top" alt="Book Cover">
        <div class="card-body">
          <h5 class="card-title" style="cursor: pointer;" (click)="viewBookDetails(book._id)">{{ book.name }}</h5>
          <p class="card-text" style="cursor: pointer;" (click)="viewAuthor(book.author_id)">Author: {{ book.author }}</p>
          <div class="starrating risingstar d-flex justify-content-end flex-row-reverse">
            <span class="rating">                   
              <div class="starrating d-flex ali">
                <ng-container *ngFor="let star of book.starsArray">
                  <input type="radio" [id]="'star' + star" name="rating{{ book._id }}" class="checked" [checked]="star <= book.avgRating" />
                  <label class="" [for]="'star' + star" [title]="star + ' star'"></label>
                </ng-container>
                <ng-container *ngFor="let star of book.emptyStarsArray">
                  <input type="radio" [id]="'star' + star" name="rating{{ book._id }}" class="unchecked" [checked]="star <= 5 - book.avgRating" />
                  <label [for]="'star' + star" [title]="star + ' star'"></label>
                </ng-container>
                <span class="ms-2 pt-1">{{ book.avgRating ? book.avgRating :0}} stars</span>
                <span class="ms-2 pt-1">-</span>
                <span class="ms-2 pt-1">{{ book.reviews?.length }} ratings</span>
              </div>
            </span>                    
          </div>
          <!-- Add other book information as needed -->
        </div>
      </div>
    </div>
    <div *ngIf="books.length === 0" class="col-md-12">
      <p class="text-center">No books available.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <!-- Pagination Component -->
      <app-pagination class="mt-5"
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="books.length"
        (pageChange)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
</div>



