<div class="container form ">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"class="form ">
        <div class="form-group mt-5 mb-3 ">
       
            <input type="email" id="email" formControlName="email" class="form-control mt-5" placeholder="Email" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error ">
              <div *ngIf="email.errors?.['required']"class="alert alert-danger" role="alert">Email is required.</div>
              <div *ngIf="email.errors?.['email']"class="alert alert-danger" role="alert">Enter a valid email address.</div>
            </div>
          </div>
      
          <div class="form-group mb-3">
            
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error">
              <div *ngIf="password.errors?.['required']"class="alert alert-danger" role="alert">Password is required.</div>
              <div *ngIf="password.errors?.['minlength']"class="alert alert-danger" role="alert">Password must be at least 8 characters long.</div>
            
            </div>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success mb-3">Submit</button>
          </div>
          <p>Don't have account? <a routerLink="/register" class="text-decoration-none text-success">Register</a></p>
        </form>
      </div>
