<div class="container mt-3">
  <h2>Authors</h2>

  <button class="btn btn-primary" (click)="openAddAuthorModal()">Add Author</button>

  <ng-template #addAuthorModal let-modal>
    <div class="modal-body">
      <!-- <label for="firstName">First Name:</label>
      <input type="text" id="fullName" [(ngModel)]="newAuthor.fisrtname" class="form-control" />
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="newAuthor.lastname" class="form-control" />


      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" [(ngModel)]="newAuthor.DOB" class="form-control" />

      <label for="image">Image:</label>
      <input type="file" id="image" (change)="handleImageUpload($event)" class="form-control" />

      <label for="books">Books:</label>
      <input type="text" id="books" [(ngModel)]="newAuthor.Books" class="form-control" />

      <div *ngIf="newAuthorValidationMessage">{{ newAuthorValidationMessage }}</div> -->
      <label for="fullName">First Name: <span class="required-field">*</span></label>
<input type="text" id="fullName" [(ngModel)]="newAuthor.firstName" class="form-control" required />

<label for="lastName">Last Name: <span class="required-field">*</span></label>
<input type="text" id="lastName" [(ngModel)]="newAuthor.lastName" class="form-control" required />
<label for="dob">Date of Birth: <span class="required-field">*</span></label>
<input type="date" id="dob" [(ngModel)]="newAuthor.dob" class="form-control" required />


<label for="image">Image:</label>
<input type="file" id="image" (change)="handleImageUpload($event)" class="form-control" />

<label for="books">Books: <span class="required-field">*</span></label>
<input type="text" id="books" [(ngModel)]="newAuthor.books" class="form-control" required />

<div *ngIf="newAuthorValidationMessage" class="validation-message">{{ newAuthorValidationMessage }}</div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-primary" (click)="saveAuthor()">Save Author</button>
    </div>
  </ng-template>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Image</th>
        <th scope="col">Books</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
          <td>{{ author._id }}</td>
          <td>{{ author.firstName }}</td>
          <td>{{ author.lastName }}</td>
          <td>{{ author.dob | date }}</td>
          <td>
            <img *ngIf="author.photo" [src]="author.photo" alt="Author Image" class="author-image" />
          </td>
          <td>{{ author.books }}</td>
          <td>
            <button class="btn btn-info" (click)="openUpdateAuthorModal(updateAuthorModal, author)">Update</button>
            <button class="btn btn-outline-danger" (click)="deleteAuthor(author._id!)">Remove Author</button>
          </td>
        </tr>
    </tbody>
  </table>

  <ng-template #updateAuthorModal let-modal>
      <div class="modal-body">
        <label for="updatedFirstName">Updated First Name: <span class="required-field">*</span></label>
        <input type="text" id="updatedFirstName" [(ngModel)]="selectedAuthor.firstName" class="form-control" required />
    
        <label for="updatedLastName">Updated Last Name: <span class="required-field">*</span></label>
        <input type="text" id="updatedLastName" [(ngModel)]="selectedAuthor.lastName" class="form-control" required />
    
        <label for="updatedDOB">Updated Date of Birth: <span class="required-field">*</span></label>
        <input type="date" id="updatedDOB" [(ngModel)]="formattedDOB" class="form-control" required />
    
        <label for="updatedImage">Updated Image:</label>
        <input type="file" id="updatedImage" (change)="handleUpdatedImageUpload($event)" class="form-control" />
    
        <label for="updatedBooks">Updated Books: <span class="required-field">*</span></label>
        <input type="text" id="updatedBooks" [(ngModel)]="selectedAuthor.books" class="form-control" required />
    
        <div *ngIf="updateAuthorValidationMessage" class="validation-message">{{ updateAuthorValidationMessage }}</div>
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateAuthor()">Update Author</button>
      </div>
    </ng-template>