
  
  <div class="adminprofilenavbar">
    <div class="section">
        <div class="one">
            <a routerLinkActive="activenow" [routerLinkActiveOptions]="{exact: true}" routerLink="/adminProfile/categories">Categories</a>
            <p>&nbsp; &nbsp; &nbsp; </p>

            <a routerLinkActive="activenow" routerLink="/adminProfile/books">Books</a>
            <p>&nbsp; &nbsp; &nbsp; </p>

            <a routerLinkActive="activenow" routerLink="/adminProfile/authors">Authors</a>
            <p>&nbsp; &nbsp; &nbsp; &nbsp;  </p>

            <a routerLinkActive="activenow" routerLink="/adminProfile/addAdmin/">Add Admin</a>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </p>


        </div>
    </div>
    <div class="logout-button-container" *ngIf="isAuthenticated()">
      <button type="button" (click)="onLogout()" class="logout-button">Logout</button>
  </div>
  
    <router-outlet></router-outlet>

</div>