section {
    /* background-color: var(--nav-color) !important;
    color: black; */
    background-image: url(../../../../assets/images/tan-bg-texture.jpg);

}

.dark-mode .card {
    background-color: #333;
    color: white;
}

.dark-mode .card-title,
.dark-mode .card-text {
    color: white;
}
