<section class="w-100 mx-auto shadow rounded p-4 my-3 bg-light ">
  <h1 class="my-3">Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="handleForm()">
<div class="form-item">
  <label for="name">name</label>
  <input type="text" formControlName="name" name=""  class="form-control" id="name">
</div>

<div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger p-1">
  <p class="mb-0" *ngIf="registerForm.get('name')?.getError('required')">Name is required</p>
  <p class="mb-0" *ngIf="registerForm.get('name')?.getError('minlength')">Name minLength 3</p>
  <p class="mb-0" *ngIf="registerForm.get('name')?.getError('maxlength')">Name maxLength 20</p>
</div>

<div class="form-item">
  <label for="email">email</label>
  <input type="email" formControlName="email" name="" id="email" class="form-control" >
</div>

<div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger p-1">
  <p class="mb-0" *ngIf="registerForm.get('email')?.getError('required')">Email is required</p>
  <p class="mb-0" *ngIf="registerForm.get('email')?.getError('email')">Email Invalid</p>

</div>

<div class="form-item">
  <label for="password">password</label>
  <input type="password" formControlName="password" name="" id="password" class="form-control" >
</div>

<div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="alert alert-danger p-1">
  <p class="mb-0" *ngIf="registerForm.get('password')?.getError('required')">Password is required</p>
  <p class="mb-0" *ngIf="registerForm.get('password')?.getError('pattern')">must be at least 6 char</p>

</div>

<div class="form-item">
  <label for="repassword">repassword</label>
  <input type="password" formControlName="rePassword" name="" id="repassword" class="form-control" >
</div>


<div *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched" class="alert alert-danger p-1">
  <p class="mb-0" *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</p>
  <p class="mb-0" *ngIf="registerForm.get('rePassword')?.getError('mismatch')">Invalid confirm password</p>

</div>

<button [disabled]="registerForm.invalid" class="btn main-btn text-white bg-success mt-2">SignUp
<span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
</button>
<p>Do you have account? <a routerLink="/login" class="text-decoration-none text-success">login</a></p>
        
</form>
<p *ngIf="errMsg" class="alert alert-danger p-1 mb-0">{{errMsg}}</p>
</section>

